.products-page{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.products-page .products-container{
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    
}
.products-page .products-container h1{
    text-align: center;
    font-size: 30px;
}
.products-page .products-container input{
    width: 270px;
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    border-radius: 20px;
}
.products-page .products-list{
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    gap: 20px;
    padding: 20px;
}


/* ProductCard */
