.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    /* Ajusta según tu diseño */
    background: #222;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.footer-content {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 10px;
}

.footer-section h3 {
    color: #4CAF50;
    /* Un color de acento */
    margin-bottom: 10px;
    font-size: 1.1em;
    text-align: center;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
    text-align: center;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #4CAF50;
}

.footer-bottom {
    color: white;
    background-color: #222;
    padding-top: 15px;
    border-top: 1px solid #555;
    font-size: 0.8em;
}